on: push

jobs:
  build-amd64:
    runs-on: ubuntu-2404-64-cores-amd
    steps:
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log into Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Setup Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.14"

      - name: Build for linux/amd64
        uses: docker/build-push-action@v6
        with:
          build-args: |
            VCS_REF=${{ github.sha }}
            BUILDARCH=amd64
          load: true
          platforms: linux/amd64
          tags: |
            cs50/cli:amd64
            cs50/cli:canary-amd64

      - name: Push linux/amd64 build to Docker Hub
        if: ${{ github.ref == 'refs/heads/main' }}
        run: |
          docker push cs50/cli:amd64

      - name: Push linux/amd64 build to Docker Hub (canary)
        run: |
          docker push cs50/cli:canary-amd64

  build-arm64:
    runs-on: ubuntu-2404-64-cores-arm
    steps:
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log into Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Setup Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.14"

      - name: Build for linux/arm64
        uses: docker/build-push-action@v6
        with:
          build-args: |
            VCS_REF=${{ github.sha }}
            BUILDARCH=arm64
          load: true
          platforms: linux/arm64
          tags: |
            cs50/cli:arm64
            cs50/cli:canary-arm64

      - name: Push linux/arm64 build to Docker Hub
        if: ${{ github.ref == 'refs/heads/main' }}
        run: |
          docker push cs50/cli:arm64

      - name: Push linux/arm64 build to Docker Hub (canary)
        run: |
          docker push cs50/cli:canary-arm64

  finalize:
    needs: [build-amd64, build-arm64]
    runs-on: ubuntu-latest
    steps:
      - name: Log into Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Create multi-arch manifest and push to Docker Hub
        if: ${{ github.ref == 'refs/heads/main' }}
        run: |
          docker manifest create cs50/cli:latest \
          --amend cs50/cli:amd64 \
          --amend cs50/cli:arm64
          docker manifest push cs50/cli:latest

      - name: Create multi-arch manifest and push to Docker Hub (canary)
        run: |
          docker manifest create cs50/cli:canary \
          --amend cs50/cli:canary-amd64 \
          --amend cs50/cli:canary-arm64
          docker manifest push cs50/cli:canary

      - name: Re-deploy depdendents
        if: ${{ github.ref == 'refs/heads/main' }}
        uses: actions/github-script@v8
        with:
          github-token: ${{ secrets.DEPLOY50_PAT }}
          script: |
            const dependents = [
                'server'
            ];
            for (let dependent of dependents) {
                await github.rest.actions.createWorkflowDispatch({
                  owner: 'cs50',
                  repo: dependent,
                  workflow_id: 'main.yml',
                  ref: 'main'
                });
            }
